body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    overflow: hidden;
}

/* BACKGROUND */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* NAVBAR CONTAINER */
#Navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;

    border: 2px solid white;
    border-radius: 10px;
}

/* NAV LINKS */
#Nav {
    display: flex;
    gap: 20px;
    white-space: nowrap;
}


/* LOGO */
.logo {
    margin: 0;
    font-size: 20px;
    white-space: nowrap; /* prevents breaking */
}

.logo {
    margin: 0;
    width: 200px;
    font-size: 20px;
}

#Nav {
    display: flex;
    gap: 20px;
}

/* LINKS */
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: rgb(80, 80, 80);
}

/* MAIN PAGE */
.main-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
    border-radius: 15px;

    padding: 40px;
    text-align: center;

    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: 0.3s;

   width: 300px;
   
}

.card:hover {
    box-shadow: 0 0 25px rgb(255, 255, 255);
    transform: scale(1.05)
}

.card-link{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* PROFILE IMAGE */
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;

    border: 3px solid white;
    margin-bottom: 20px;

    box-shadow: 0 0 15px white;
    transition: 0.3s;
}

.profile-pic:hover {
    transform: scale(1.25);
}

/* NAME */
.name {
    font-size: 40px;
    margin: 10px 0;
}

/* SUBTITLE */
.subtitle {
    font-size: 18px;
    opacity: 0.8;
}






/*ABOUT*/
.about-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT CARD */
.about-text {
    max-width: 700px;
    width: 80%;

    padding: 40px;

    border: 3px solid rgba(118, 118, 117, 0.761);
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(10px);

    text-align: center;
}

/* TITLE */
.about-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* PARAGRAPHS */
.about-text p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 15px;
}




/*CERTIFICATIONS*/

.certifications {
    text-align: center;
    padding: 30px 15px;
}

.certifications h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

/* FLEX CONTAINER */
.cert-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}

/* CARD */
.cert-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;

    width: 250px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.cert-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px white;
}

.cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.cert-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;

    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.cert-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px white;
}









/* ===== TECH STACK ===== */
.techstack {
    text-align: center;
    padding: 60px 20px;
}

.techstack h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

/* CONTAINER */
.tech-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

/* CARD */
.tech-card {
    width: 140px;

    padding: 25px 20px;

    border-radius: 15px;
    border: 1px solid white;

    background: rgba(255,255,255,0.05);

    backdrop-filter: blur(10px);

    transition: 0.3s;

    text-align: center;
}

/* ICON */
.tech-card img {
    width: 70px;
    height: 70px;

    object-fit: contain;

    margin-bottom: 15px;
}

/* TEXT */
.tech-card p {
    font-size: 18px;
    font-weight: bold;
}

/* HOVER */
.tech-card:hover {
    transform: translateY(-10px) scale(1.05);

    box-shadow: 0 0 20px white;
}




/* MOBILE */
@media (max-width: 768px) {

    /* NAVBAR */
    #Navigator {
        flex-direction: column;
        gap: 15px;

        width: 90%;
        padding: 15px;
    }

    /* NAV LINKS */
    #Nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        font-size: 14px;
    }

    /* LOGO */
    .logo {
        font-size: 18px;
        text-align: center;
    }

    /* CARD */
    .card {
        width: 85%;
        padding: 30px 20px;
    }

    /* PROFILE IMAGE */
    .profile-pic {
        width: 140px;
        height: 140px;
    }

    /* NAME */
    .name {
        font-size: 32px;
    }

    /* SUBTITLE */
    .subtitle {
        font-size: 16px;
    }

    /* ABOUT PAGE */
    .about-text {
        width: 85%;
        padding: 25px;
    }

    .about-text h2 {
        font-size: 30px;
    }

    .about-text p {
        font-size: 18px;
    }

    .cert-card {
    margin-left: 60px;
    }

   

    
}
